# PANDAS 

watch on stackoverflow
Python fo Data Analysis - download

# SERIES DATA STRUCTURE

has columns, and you can index it with pandas

In [8]:
import pandas as pd
import numpy as np
pd.Series?

In [9]:
animals =['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [10]:
# remember that it's type is different for each case

In [11]:
#underneeth is type conversion, so if we want differnet types we can do it
animals = ['Tiger','Bear',None,4]
pd.Series(animals)

0    Tiger
1     Bear
2     None
3        4
dtype: object

In [12]:
# giving numbers and we get smth different we get NaN, although
np.nan == None

False

In [13]:
# weird is 
np.nan == np.nan
# nans are different all the time!

False

In [ ]:
# series can be assigned from dictionary

In [14]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [15]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [20]:
#we can separate creating
#index from the data giving indexex in an array
s = pd.Series(['T', 'WE'], index =[1,'India'])
s

1         T
India    WE
dtype: object

In [21]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

## Quering a Series

In [22]:
# we can do this by index or label
# ilock - numerical atr
# lock by label
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [24]:
#assign b number
s.iloc[3]

'South Korea'

In [25]:
#assign by label
s.loc['Sumo']

'Japan'

In [26]:
# those are not methods but atributes
# we can skip loc and iloc and it will know
s['Golf']

'Scotland'

### if index is a list, there can be a problem, so it's etter to be more strict and use iloc and loc explicitely

In [28]:
# we don't need to iterate all series, for example when we want to add something, but it's slow
# task involving mathematics suport vectorisation

In [32]:
# VECTORISATION works with most numpy functions
import numpy as np
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [33]:
total = 0
for item in s:
    total+=item
print(total)

324.0

In [36]:
print(np.sum(s))

324.0

In [47]:
s = pd.Series(np.random.random(200))
s

0      0.105182
1      0.500359
2      0.103168
3      0.545927
4      0.268818
         ...
195    0.002619
196    0.554103
197    0.685008
198    0.272862
199    0.421907
Length: 200, dtype: float64

In [49]:
s.head()
# first five elements
len(s)

200

In [53]:
#magic functions begin with %, typing it and getting tab we get list
#celurar magic is with %%
# %% timeit-n tells us how much time evaluation takes on average
%%timeit -n 10
sum = 0
for item in s:
    sum = sum + item

UsageError: Line magic function `%%timeit` not found.

In [55]:
# we can also use broadcasting 
# we can apply operation to each val in series changing it
s +=2 
s.head()

0    4.105182
1    4.500359
2    4.103168
3    4.545927
4    4.268818
dtype: float64

In [60]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

AttributeError: 'Series' object has no attribute 'set_value'

# Lepiej używać +=

In [61]:
# if value doens't exist it is created
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

### INDEXES CAN BE REPEATED!!!

In [62]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [64]:
all_countries
# we have just appended it!

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

# 2DIM DATA STRUCTURES ALSO EXIST - DATAFRAMES

In [102]:
# we have 2 or more cols of labels, like matrix
# we can use a group of series where each series is a row of data
# or dictionaries as well!
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [103]:
df.loc['Store 1']
type(df.loc['Store 1'])

pandas.core.frame.DataFrame

In [104]:
df.loc['Store 2']

Name                  Vinod
Item Purchased    Bird Seed
Cost                      5
Name: Store 2, dtype: object

In [105]:
df['Cost']

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [106]:
# we can quickly take something from multiple axis
df.loc['Store 1', 'Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [107]:
df.T
# change collumns to indices

                 Store 1       Store 1    Store 2
Name               Chris         Kevyn      Vinod
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Cost                22.5           2.5          5

In [108]:
# we also have something for columns 
# it's like column projection
# we can chain opereation together
df.loc['Store 1']['Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [109]:
# chaining causes to return copies, but changing can be bad we must think which we want
# it also supports slicing
df.loc[:,['Name', 'Cost']]

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 2  Vinod   5.0

# TRY TO AVOID CHAINING NOT TO COPY THINGS

In [110]:
df.drop('Store 1')
# delete ! RETURNS COPY
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [111]:
# BUT IF WE COPY CHANGES ARE MADE ON IT
# drop has implace(if it is true then it is dropped there), second is the axis(by default it is zero)
# using indexing we can drop column
df.drop('Store 1')
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [112]:
del df['Cost']
# delete a column

In [113]:
df

          Name Item Purchased
Store 1  Chris       Dog Food
Store 1  Kevyn   Kitty Litter
Store 2  Vinod      Bird Seed

In [114]:
# to add something new we just asign it to something
df['Smth'] = None 
df

          Name Item Purchased  Smth
Store 1  Chris       Dog Food  None
Store 1  Kevyn   Kitty Litter  None
Store 2  Vinod      Bird Seed  None

In [121]:
df.loc['Store 1', 'Smth']

Store 1    None
Store 1    None
Name: Smth, dtype: object

In [119]:
df

          Name Item Purchased  Smth
Store 1  Chris       Dog Food  None
Store 1  Kevyn   Kitty Litter  None
Store 2      5      Bird Seed  None